<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <append>true</append>
        <file>log/http-access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/http-access-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%msg%n</pattern>
        </encoder>
        <immediateFlush>true</immediateFlush>

        <logger name="customerLogs" additivity="False" level="INFO">
            <appender-ref ref="httpAccessLogAppender"/>
        </logger>
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n
            </pattern>
        </encoder>

    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
